html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden !important
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    font-size: 13px;
    color: #6a6c6f;
    margin: 0;
    padding: 0;
    height: 100%
}

.panel-body {
    margin: 0 auto 0 auto;
    width: 70%;
    text-align: center;
}

.p-m {
    padding: 20px !important
}

.btn-primary {
    background-color: #34495e;
    border-color: #34495e;
    color: #FFFFFF
}

.btn-default {
    background-color: #fff;
    border-color: #e4e5e7;
    color: #6a6c6f
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200
}

@media (max-width: 768px) {
    .content {
        padding: 15px 15px 15px 15px;
        min-width: 320px
    }
}

a {
    cursor: pointer;
    color: #34495e
}

a:hover, a:focus {
    color: #34495e;
    text-decoration: none
}